// designer please put your stuff here -> globals (colors, fonts, etc)
$sidebar-bgcolor: #505050;
$sidebar-font-color: white;
$footer-color: #444444;
$sidebar_bg: #505050;
$admin_bg: #690800;
$header_bckgrd: #fff;
$footer_bckgrd: #444444;
$content_bckgrd: #f1f1f1;