.bodyC {
    
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
}

.yellowBoxNav {
    
    position:relative;
    // display:inline-block;
    float:right;
    margin-right:30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color:#f3d83f;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 45px;
    color:white;
    z-index: 25;

    span {
        position:relative; 
        top: 8px; 
        font-size:3rem; 
    }

}

.dropdown-menu { 
   
    margin-top:25px; 

}

.dropdown-menu-right {
     
    right:-15px; 

}

/*Yellow Nav Ends Here*/
.dropdown-menu { 
    padding-top:0; 

    li {
        position:relative; 
        margin-right:0; 
        /*padding:10px 0;*/
    }
}

.dropdown-menu .circleI { 
    width:30px; height:30px;
     -moz-border-radius:50%; 
     border-radius:50%; 
     background-color:#eff3f4; 
     color:#ccc; 
     text-align:center;
     font-size:1.7rem;
     margin:0 10px;
     padding-top:5px;
}


.dropdown-menu li:hover .emptyCircle {
    background-color:#fff;
}

.dropdown-menu li:hover .circleI {
    background-color:#fff;
}

.dropdown-menu .divider { 
    margin:0; 
}

.dropdown-menu > li > a { 
    padding:10px 0; 
}