.mainHead {
    height:110px;
    background-color: #ffffff;
}

.clLogo { 
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
}

.sNav { 
    font-size:1.45rem; 
    
    ul {
        margin: 5px -15px 0; 
        
        li {
            margin-top:13px; 
            padding:12px 0 12px 14%; 
        }

        li:hover {
            background-color:#333; 
            cursor:pointer; 
            color:white;
        }
    }
}

.sNav i, .sNav span { 
    margin-right:10px;
}
