#messageBadge {
    position:relative; 
    background-color:#853c37;  
    font-size:1rem; 
    left:10px;
    top:-2px; 
    width:30; 
    height:30;
    text-align:center; 
}

.emptyCircle {
    display:inline-block;
    width:30px;
    height:30px;
    background-color:#eff3f4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;  
    margin-left:10px; 
}
